html,head,body,img,table,tr,td,p,textarea,input,form{padding:0px; margin:0px;}

body{
	background-color:#ffffff;
}

html,body{
}

table,tr,td{
}

#main_table{
	width:100%;
	text-align:center;
}

#main_row{
	width:50%;
}

#main_menu_column{
	vertical-align:top;
	color:#ffffff;
	font-size:65%;
	width:10%;
	padding-right:50px;
}

.menu_row{
}

.menu_content{
	background-color:#3399FF;
	padding-right:10px;
	padding-left:10px;
}

h3,h1.main_mid_column{
	margin:0px;
}

#content_weather{
	color:#3399FF;
	padding-bottom:100px;
	padding-top:100px;
}

#weather_row,#time_row{
	line-height:0px;
}

/*#time_row{    
  transform:scale(2,1); 
  -webkit-transform:scale(2,1);
  display:inline-block; 
}*/

#content_video_feed{
	background-color:#3399FF;
	height:480px;
	width:640px;
}

#main_warnings_column{
	vertical-align:top;
	color:#ffffff;
	background-color:#3399FF;
	padding-right:10px;
	padding-left:10px;
}
