html,head,body,img,table,tr,td,p,textarea,input,form{padding:0px; margin:0px;}
body{
	background-color:#ffffff;
}

#main_table{
	width:100%;
	table-layout:auto;
	text-align:center;
}

#main_row{
	height:100%;
	width:50%;
}

#main_menu_column{
	vertical-align:top;
	color:#ffffff;
	width:10%;
	padding-right:50px;
}

.menu_row{
}

.menu_content{
	background-color:#3399FF;
	padding-right:10px;
	padding-left:10px;
}

#main_mid_column{
}

#content_table{
}

#content_content{
}

#main_warnings_column{
	background-color:#3399FF;
	float:right;
	vertical-align:top;
	padding-right:10px;
	padding-left:10px;
	color:#ffffff;
	width:40%
	
}
